@model IEnumerable<Website.Models.CrudModel>
@{
    /**/

    ViewBag.Title = "Index";



}

    <a href="Create/"> Registrar pelicula </a>
<br /><br />

      <table border="1" cellspacing="0" width="1000">
          <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Autor</th>
              <th>Actores</th>
              <th>Año</th>
              <th>Sipnosis</th>
              <th>Acciones</th>
          </tr>
          @foreach (var item in Model)
          {
          <tr>
              <td>@item.Id</td>
              <td>@item.Nombre</td>
              <td>@item.Autor</td>
              <td>@item.Actores</td>
              <td>@item.Año</td>
              <td>@item.Sipnosis</td>
              <td>
              <a href="Edit/@item.Id">Actualizar</a>
              <a href="Delete/@item.Id">Eliminar</a>
              </td>
          </tr>
          }
      </table>

<h2></h2>



